<!DOCTYPE html>
<html class="fsvs">
<head>
    <meta charset="UTF-8">
    <title>Maddog</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../scripts/index.css">
    <link href="../styles/fsvs.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="../styles/video.css" rel="stylesheet">
    <link rel="icon" href="http://maddog-static.oss-cn-qingdao.aliyuncs.com/LOGO.jpg" type=image/x-icon>
</head>
<body id="content">
    <div class="header">
        <div class="am-header-inner">
            <div class="mainNav">
                <div class="laymid">
                    <div class="alipay-logo"></div>
                    <div id="J_mainMenu" class="mainMenu">
                        <ul v-if="isChinese">
                            <li class="channel" v-cloak v-bind:class="{'on':$index+1===currentPage}" v-for="title in titleListChina">
                                <a class="channel-a" v-on:click="choseTitle($index)" href="javascript:;">{{title}}</a>
                            </li>
                        </ul>
                        <ul v-else>
                            <li class="channel" v-cloak v-bind:class="{'on':$index+1===currentPage}" v-for="title in titleList">
                                <a class="channel-a" v-on:click="choseTitle($index)" href="javascript:;">{{title}}</a>
                            </li>
                        </ul>
                      <span class="language" v-cloak v-if="isChinese" v-on:click="changeLanguage(false)">English</span>
                      <span class="language" v-cloak v-else v-on:click="changeLanguage(true)">中文</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body" id="fsvs-body">
        <div class="slide" v-for="item in imgList">
            <carousel class="home" v-bind:style="{height:currentHeight+'px'}" :interval="7000">
                <slider v-for="backImg in item"  v-bind:style="backImg.styleObject">
                    <div v-if="!!backImg.left" class="floatLocate" v-bind:style="backImg.left.locate">
                        <p v-if="isChinese">
                          {{backImg.left.characte}}
                        </p>
                        <p v-else>
                          {{backImg.left.characteEnglish}}
                        </p>
                    </div>
                    <div v-if="!!backImg.right" class="floatLocate" v-bind:style="backImg.right.locate">
                        <p v-if="isChinese">
                              {{backImg.right.characte}}
                                <img v-if="backImg.right.img" v-bind:src="backImg.right.srcImg" alt="" />
                        </p>
                        <p v-else>
                          {{backImg.right.characteEnglish}}
                        </p>
                    </div>
                    <div class="body-content">
                        <div class="middle middle">
                            <div v-if="!!backImg.middle" v-cloak class="middleClass middle">
                                <video v-if="backImg.middle.isVideo==='video'" id="example_video1" class="video-js vjs-default-skin vjs-big-play-centered videoClass" controls width="800" height="450" v-bind:poster="backImg.middle.picVideo">
                                 <source v-bind:src="backImg.middle.srcVideo" type='video/mp4'/>
                                </video>
                                <iframe v-if="backImg.middle.isPpt==='ppt'" v-bind:src="backImg.middle.srcPpt" frameborder="0" class="iframeClass"></iframe>
                                <div v-if="backImg.middle.isFont==='font'" v-bind:style="backImg.middle.middle">
                                  <p v-if="isChinese">
                                    {{backImg.middle.characte}}
                                  </p>
                                  <p v-else>
                                    {{backImg.middle.characteEnglish}}
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </slider>
            </carousel>
        </div>
    </div>
    <div v-if="currentPage !== titleListChina.length" v-on:click="nextPage" class="gotoNext">
      <img src="https://maddog-static.oss-cn-qingdao.aliyuncs.com/icon.png" alt="" />
    </div>
<script src="../scripts/main.js"></script>
</body>
</html>
