@charset "UTF-8";
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999; }
  .header .am-header-inner {
    margin-top: -10px;
    position: relative;
    z-index: 2; }
    .header .am-header-inner .mainNav {
      height: 80px;
      border-bottom: 1px #eeeeee solid;
      background-color: rgba(255, 255, 255, 0.9); }
      .header .am-header-inner .mainNav .laymid {
        width: 1200px;
        margin: 0 auto; }
        .header .am-header-inner .mainNav .laymid .alipay-logo {
          display: block;
          width: 114px;
          position: relative;
          left: 80px;
          top: 20px;
          float: left;
          height: 40px;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-image: url(http://maddog-static.oss-cn-qingdao.aliyuncs.com/logo.png); }
        .header .am-header-inner .mainNav .laymid .mainMenu {
          height: 80px;
          margin-left: 360px; }
          .header .am-header-inner .mainNav .laymid .mainMenu .channel {
            float: left;
            height: 80px;
            line-height: 80px;
            position: relative; }
            .header .am-header-inner .mainNav .laymid .mainMenu .channel .channel-a {
              text-decoration: none;
              color: #333;
              font-size: 22px;
              display: block;
              padding: 0 40px; }
              .header .am-header-inner .mainNav .laymid .mainMenu .channel .channel-a:hover {
                color: #00bbee; }
          .header .am-header-inner .mainNav .laymid .mainMenu .language {
            font-size: 12px;
            position: absolute;
            left: 85%;
            cursor: pointer; }
          .header .am-header-inner .mainNav .laymid .mainMenu .on .channel-a {
            color: #00bbee; }

.body {
  font-size: 18pt; }
  .body .carousel-indicators {
    bottom: 10% !important; }
  .body .services {
    width: 100%;
    min-height: 480px;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    animation: scal 10s ease infinite alternate;
    -webkit-animation: scal 10s ease infinite alternate; }
  .body .iframeClass {
    width: 800px;
    height: 450px; }
  .body .videoClass {
    margin: auto; }
  .body .floatLocate {
    position: absolute;
    color: #ffffff; }
  .body .body-content {
    margin: auto;
    position: absolute;
    margin-top: 17%;
    left: 0;
    right: 0;
    width: 1000px;
    height: 800px; }
    .body .body-content .topClass {
      padding: 0 20%;
      text-align: center; }
    .body .body-content .middle {
      text-align: center; }
      .body .body-content .middle .middleClass {
        padding: 10px; }
        .body .body-content .middle .middleClass .video-js {
          width: 800px;
          height: 450px; }
    .body .body-content .bottomClass {
      padding: 0 30%;
      text-align: center; }

.gotoNext {
  width: 50px;
  height: 50px;
  z-index: 1;
  position: fixed;
  bottom: 5%;
  left: 50%;
  margin-left: -25px;
  cursor: pointer; }

body {
  font-family: Tahoma, Helvetica, Arial, STXihei, "\534E\6587\7EC6\9ED1", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif !important; }
