.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  .am-header-inner {
      margin-top:-10px;
    position: relative;
    z-index: 2;

    .mainNav {
      height: 80px;
      border-bottom: 1px #eeeeee solid;
      background-color: rgba(255,255,255,.9);

      .laymid {
        width: 1200px;
        margin: 0 auto;

        .alipay-logo {
          display: block;
          width: 114px;
          position: relative;
          left: 80px;
          top: 20px;
          float: left;
          height: 40px;
          background-position: 0 0;
          background-repeat: no-repeat;
          background-image: url(http://maddog-static.oss-cn-qingdao.aliyuncs.com/logo.png);
        }

        .mainMenu {
          height: 80px;
          margin-left: 360px;

          .channel {
            float: left;
            height: 80px;
            line-height: 80px;
            position: relative;

            .channel-a{
              text-decoration: none;
              color: #333;
              font-size: 22px;
              display: block;
              padding: 0 40px;
              &:hover {
                color: #00bbee;
              }
            }
          }
          .language {
            font-size: 12px;
            position: absolute;
            left:85%;
            cursor: pointer;
          }
          .on {
            .channel-a{
              color: #00bbee;
            }
          }
        }
      }
    }
  }
}
.body {
  font-size:18pt;
  .carousel-indicators{
    bottom: 10%;
  }
  .services {
      width: 100%;
      min-height: 480px;
      transform: scale(1,1);
      -webkit-transform: scale(1,1);
      animation:scal 10s ease infinite alternate ;
      -webkit-animation:scal 10s ease infinite alternate ;
  }
  .iframeClass {
    width: 800px;
    height: 450px;
  }
  .videoClass {
    margin: auto;
  }
  .floatLocate{
    position: absolute;
    color: #ffffff;
  }
  .body-content{
      margin: auto;
      position: absolute;
      margin-top: 17%;
      left: 0;
      right:0;
      width: 1000px;
      height: 800px;
      .topClass{
          padding: 0 20%;
          text-align: center;
      }
      .middle{
          text-align: center;
          .middleClass{
              padding: 10px;
              .video-js{
                  width: 800px;
                  height:450px;
              }
          }
      }

      .bottomClass{
          padding: 0 30%;
          text-align: center;
      }
  }
}

.gotoNext{
  width:70px;
  height:70px;
  z-index: 1;
  position:fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -35px;
  cursor: pointer;
}
body{
  font-family: Tahoma, Helvetica, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif !important;;
}
