/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
*/
/* 清除内外边距 */
html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	font-size:62.5%;/*相当于10px*/
	font-family: Tahoma, Helvetica, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif !important;
	}
	[v-cloak] {
	  display: none;
	}
html *{
	tap-highlight-color:rgba(0,0,0,.05);/*ios的Safari浏览器的链接点击时的效果*/
	-webkit-tap-highlight-color:rgba(0,0,0,.05);
	-ms-tap-highlight-color:rgba(0,0,0,.05);
	margin:0;
	padding:0;
	}
body{
	font-size:1.4rem;/*14px*/
	}
img{-ms-interpolation-mode:bicubic;width:100%;}
/*首页banner*/
@keyframes scal{
	from{-webkit-transform: scale(1,1);}
	to{-webkit-transform: scale(1.1,1.1);}
}
@-webkit-keyframes scal{
	from{-webkit-transform: scale(1,1);}
	to{-webkit-transform: scale(1.1,1.1);}
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */

small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
html,body {
    height: 100%;
    width: 100%;
}
